.footerWrapper {
  width: 100%;
  height: 15vw;
  margin-top: 5vw;
  display: grid;
}

.footer-social {
  background-color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding: 2vw 4vw 0 0;
}

.footer-social-info {
  display: flex;
}

.footer-social-info:first-child {
  flex-direction: column;
  align-items: flex-end;
}
.footer-social-info a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1vw;
  cursor: pointer;
}

.footer-social-info a:hover {
  color: #ed9735;
}

.footer-social-info:nth-child(2) a {
  color: #ed9735;
}

.footer-social-info:nth-child(2) {
  flex-direction: column;
  align-items: flex-end;
}

.footer-social-info:nth-child(2) p {
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 1vw;
margin: 0;
}

.footer-social-numberPostfix p {
  margin: 0;
  font-weight: 400;
  font-size: 0.6vw;
  line-height: 1vw;
}

.footer-social-info:last-child {
  flex-direction: row;
  justify-content: flex-end;
}

.footer-social-info:last-child a {
  padding-left: 2vw;

}
