.mainWrapper {
  width: 80%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.hotProducts {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 60% 38%;
  gap: 10px;
  margin-bottom: 3vw;
}

.hotProductWrapper {
  background-color: #edeae5;
  border-radius: 15px;
  width: 100%;
  padding-top: 50%;
  position: relative;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.hotProductWrapper:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.hotProductWrapper:hover {
  cursor: pointer;
}


.ProductWrapper {
  background-color: #edeae5;
  border-radius: 15px;
  width: 95%;
  margin: 0 auto;
  height: 15vw;
  position: relative;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.ProductWrapper:hover {
  cursor: pointer;
}
